<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro"
       name="ur10_deepbuilder" >

  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>

  <!-- common stuff -->
  <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />

  <!-- ur10 -->
  <xacro:include filename="$(find ur_description)/urdf/ur10_deepbuilder.urdf.xacro" />


    <!-- extruder -->
  <xacro:include filename="$(find ur_description)/urdf/deepbuilder_extruder.xacro" />

<!-- camera-->
  <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />

  <!-- blackfly cam-->
  <xacro:include filename="$(find spinnaker_sdk_camera_driver)/description/urdf/blackfly.urdf.xacro" />
  

<xacro:macro name="ee_robot" params="prefix">
  <!-- arm -->
  <xacro:ur10_robot prefix="" joint_limited="true"
    shoulder_pan_lower_limit="${-0.5*pi}" shoulder_pan_upper_limit="${1.5*pi}"
    shoulder_lift_lower_limit="${-pi}" shoulder_lift_upper_limit="0.0"
    elbow_joint_lower_limit="${-0.5*pi}" elbow_joint_upper_limit="${1.5*pi}"
    wrist_1_lower_limit="${-pi}" wrist_1_upper_limit="${pi}"
    wrist_2_lower_limit="${-0.5*pi}" wrist_2_upper_limit="${1.5*pi}"
    wrist_3_lower_limit="${0.0}" wrist_3_upper_limit="${2*pi}"
/>


<link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

  <xacro:extruder />
  <joint name="ee_link-extruder_base_link" type="fixed">
  <parent link="${prefix}ee_link" />
  <child link="extruder_base" />
  <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

  <sensor_blackfly parent="ee_link" prefix="camera1"><origin xyz="0.06 -0.02 -0.04" rpy="${0.5*pi+0.02} 0.03 0.0"/></sensor_blackfly>
  <!--sensor_blackfly parent="ee_link" prefix="camera1"><origin xyz="0.0 -0.02 -0.04" rpy="${0.5*pi+0.024} 0.005 0.0"/></sensor_blackfly-->
  <!--sensor_blackfly parent="extruder_tip_link" prefix="camera1"><origin xyz="0 0 0" rpy="0 0 0"/></sensor_blackfly-->
  <sensor_d435 parent="ee_link" prefix="camera2"><origin xyz="0.06078 -0.1393 -0.02475" rpy="${-0.5*pi} 0.0 ${0.087*pi}"/></sensor_d435>
  

</xacro:macro>

<xacro:ee_robot prefix="" />

</robot>
